services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@postgres:5432/ml_agro
      - AGRO_ML_PROJECT_ROOT=/workspace
    depends_on:
      - postgres
    volumes:
      - ./backend/api:/app
      - ./backend:/workspace/backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: agro-ml-frontend:latest
    ports:
      - "4200:4200"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules

  postgres:
    image: postgis/postgis:13-3.1
    environment:
      - POSTGRES_DB=ml_agro
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
